<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>NewProject</display-name>
  <welcome-file-list>
    <welcome-file>MyHome.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.examples.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addservlet</display-name>
    <servlet-name>Addservlet</servlet-name>
    <servlet-class>com.ShopNest.Carts.Addservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addservlet</servlet-name>
    <url-pattern>/Addservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.ShopNest.Customers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyNowServlet</display-name>
    <servlet-name>BuyNowServlet</servlet-name>
    <servlet-class>com.ShopNest.buyNow.BuyNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNowServlet</servlet-name>
    <url-pattern>/BuyNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet1</display-name>
    <servlet-name>AddServlet1</servlet-name>
    <servlet-class>com.ShopNest.Carts.AddServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet1</servlet-name>
    <url-pattern>/AddServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyNow</display-name>
    <servlet-name>BuyNow</servlet-name>
    <servlet-class>com.ShopNest.buyNow.BuyNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNow</servlet-name>
    <url-pattern>/BuyNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApiProdServlet</display-name>
    <servlet-name>ApiProdServlet</servlet-name>
    <servlet-class>com.ShopNest.Admin.ApiProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiProdServlet</servlet-name>
    <url-pattern>/ApiProdServlet</url-pattern>
  </servlet-mapping>
</web-app>